.brand-table-container {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.brand-table-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  
}

.brand-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: white;
  
  
 
}

.brand-table th,
.brand-table td {
  border: 1px solid #ddd;
  padding: 12px 16px;
  vertical-align: middle;
  text-align: center;
  
  
 
 
}

.brand-table th {
  background-color: white;
  color: #111827;
  
}

.brand-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

