body{
  background-color: whitesmoke;
}
.admin-login-fullpage {
  display: flex;
  height: 80vh;
  width: 70vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 5% 15%;
  padding: 0;
  background-color: white;
  box-shadow: 0 10px 30px #009688;
  border-radius: 10px;
}

.admin-image {
  width: 50%;
  height: 70vh;
  object-fit: contain;
  display: block;
  margin: 5% 5%;
  padding: 0;
}


.admin-login-box {
  width: 30%;
  height: 80vh;
  background-color: white;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  box-sizing: border-box;
  margin: 0;
}


.admin-login-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1f2937;
}


.admin-input {
  padding: 12px 16px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
  background-color:#009688;
  color: white;
}

.admin-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px #bfdbfe;
}

.admin-error {
  color: #dc2626;
  text-align: center;
  font-size: 14px;
}

.admin-login-btn {
  background-color:#009688;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.admin-login-btn:hover {
  background-color: #111827;
}


.admin-sidebar {
  background-color:#009688;
  color:  white;
  height: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 5%;
  width: 20%;
}

.admin-header {
  background-color: #f9fafb;
}


.admin-sidebar a {
  margin-top: 15%;
  text-decoration: none;
  color:white;
  font-size: 16px;
  padding: 10px ;
  border-bottom: 2px solid white;
}

.admin-sidebar a:hover {
  color: black; 
}


